@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: margin-right 0.3s ease-in-out;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.sidebar-closed .sidebar {
  transform: translateX(100%);
}

.sidebar-toggle {
  position: absolute;
  top: 10px;
  right: 310px;
  z-index: 1001;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  transition: right 0.3s ease-in-out;
}

.sidebar-closed .sidebar-toggle {
  right: 10px;
}
.sidebar-open .map-container {
  margin-right: 300px;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.sidebar-search {
  background-color: #a81612;
  padding: 20px;
  color: white;
}

.sidebar-nearest {
  background-color: #451400;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  color: white;
}

.search-container {
  margin-top: 10px;
}

.search-container input {
  width: 70%;
  padding: 5px;
}

.search-container button {
  width: 25%;
  padding: 5px;
  margin-left: 5%;
  background-color: #451400;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar h2, .sidebar h3, .sidebar h4, .sidebar p {
  margin: 0;
  padding: 5px 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
  cursor: pointer;
}
